@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Sensors" class="btn btn-primary">Sensors</a>
    <a asp-action="SensorLogs" class="btn btn-secondary">Sensor Log</a>
</div>
